@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* For themeing */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #f8f9fa;
    --text-light-color: #edf0f1;
    --text-dark-color: #2c3e50;
    --border-radius: 12px;
    --transition-speed: 0.3s;
    --transition-time: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #24252a;
}

h1, h2, h3, h4, h5, p {
    font-family: "Montserrat", sans-serif;
    color: var(--text-light-color);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 10%;
}

main {
    margin: 30px 10%;
}

section {
    margin: 100px 0;
    padding: 20px 0;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

#title {
    font-weight: bold;
    color: #edf0f1;
    cursor: pointer;
    margin-right: auto;
}

.text-dark-color {
    color: var(--text-dark-color);
}

.margin-top-100px {
    margin-top: 100px;
}

.margin-top-50px {
    margin-top: 50px;
}

.line-height-main {
    line-height: 25px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.big-title {
    font-size: 50px;
}

.section-about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-about-me-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.section-about-me-more {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.section-about-me-more .about-me-more-1 {
    order: 2;
}

.section-about-me-more .about-me-more-2 {
    order: 1;
}

.section-about-me-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8% 15px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.section-skillsets-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.section-skillsets-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.section-contact-me-button {
    margin: 10%;
}

.section-contact-me-button-elements {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

.section-contact-me-button-elements .big-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.section-contact-me-button-elements p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.section-services {
    margin-bottom: 100px;
}

.section-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillset-box {
    border: 3px solid #edf0f1;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.skillset-box ul {
    margin-right: 100px;
    padding-left: 20px;
}

.skillset-box ul li {
    margin-top: 10px;
}

.section-portfolio-elements, 
.section-achievement-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.card {
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.card-second {
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80%;
    height: 225px;
    max-width: 350px;
    transition: transform var(--transition-speed), box-shadow var(--transition-speed);
}

.card:hover, .card-second:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.card-header {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    padding: 20px;
    font-size: 1.25rem;
    font-weight: bold;
}

.card-description {
    color: var(--text-dark-color);
    line-height: 1.5;
    padding: 10px 15px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.card-link-dark {
    padding: 10px 15px;
    margin: 0px 0px 10px 0px;
    color: var(--primary-color);
}

.bordered-description {
    color: var(--text-dark-color);
    line-height: 1.5;
    padding: 10px 15px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    padding: 0 15px; 
    margin-top: 5px;
    border-bottom: 2px solid #24252a18;
}

.card-title-description {
    color: var(--text-dark-color);
    padding: 15px 20px;
    font-weight: bold;
    text-align: center;
    
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-icon-image {
    width: 40%;
    object-fit: cover;
}

.card-container-image {
    display: flex;
    align-content: center;
    justify-content: center;
}

.card-footer {
    background-color: var(--secondary-color);
    color: var(--text-light-color);
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9rem;
}

footer {
    background-color: #3f3e3e;
    padding: 40px 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo {
    flex: 1;
}

.footer-links,
.footer-subscribe,
.footer-socials {
    flex: 1;
    margin: 10px;
}

.footer-links ul,
.footer-socials ul {
    list-style-type: none;
    padding: 0;
}

.footer-links a:hover,
.footer-socials a:hover {
    text-decoration: underline;
}

.footer-subscribe {
    display: flex;
}

.footer-subscribe input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.footer-subscribe button {
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 80px;
}

.list-description {
    list-style-type: none;    
    padding: 0;
}

.list-description li {
    margin-top: 8px;
}

.horizontal-timeline {
    display: flex;
    overflow-x: auto;
    padding: 2rem 0;
    position: relative;
}

.horizontal-timeline::before {
    content: '';
    height: 2px;
    position: absolute;
    background-color: var(--primary-color);
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.horizontal-item {
    min-width: 200px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.horizontal-item h3, 
.horizontal-item p {
    color: var(--text-dark-color);
}

.horizontal-item::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 4px solid var(--primary-color);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 1;
}

.carousel {
    width: 100%;
    max-width: 1000px;
    height: 550px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.carousel-container {
    display: flex;
    transition: transform var(--transition-time) ease-in-out;
    height: 100%;
}

.carousel-slide {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.carousel-slide-row {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255,255,255,0.5);
    color: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color var(--transition-speed);
    border-radius: 50%;
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.carousel-btn-prev {
    left: 1rem;
}

.carousel-btn-next {
    right: 1rem;
}

.carousel-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5rem;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color var(--transition-speed);
}

.carousel-dot.active {
    background-color: var(--primary-color);
}

@media (max-width: 768px){
    .section-contact-me-button-elements {
        padding: 3rem 1rem;
    }

    .section-contact-me-button-elements .big-title {
        font-size: 2rem;
    }

    .section-contact-me-button-elements p {
        font-size: 1rem;
    }
}