@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background-color: #24252a;
}

h1, h2, h3, h4, h5, p {
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 30px 10%;
}

main {
    margin: 30px 10%;
}

#title {
    font-weight: bold;
    color: #edf0f1;
    cursor: pointer;
    margin-right: auto;
}

.margin-top-100px {
    margin-top: 100px;
}

.margin-top-50px {
    margin-top: 50px;
}

.line-height-main {
    line-height: 25px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.big-title {
    font-size: 50px;
}

.section-about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section-about-me-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8% 15px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}

.section-skillsets-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.skillset-box {
    border: 3px solid #edf0f1;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.skillset-box ul {
    margin-right: 100px;
    padding-left: 20px;
}

.skillset-box ul li {
    margin-top: 10px;
}


button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;    
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
